.button {
  font: inherit;
  border: none;
  border: 3px solid pink;
  color: dimgray;
  padding: 0.25rem 1rem;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s ease-out;
}

.button:hover,
.button:active {
  background: pink;
}

.button:focus {
  outline: none;
}
