.logo {
  background: url(../../../public/assets/logo-yellow.png);
  width: 300px;
  height: 80px;
  background-size: 290px 60px;
  background-repeat: no-repeat;
  margin-top: 20px;
}

@media (max-width: 570px) {
  .logo {
    margin: 20px auto;
  }
}

@media (max-width: 320px) {
  .logo {
    width: 250px;
    background-size: 250px 60px;
  }
}
