.favCartoon {
  background-color: #12c998;
  height: 100vh;
  overflow: auto;
}
.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.formContainer {
  margin: 50px auto;
  padding: 60px 50px;
  background-color: #16ffbd;
}

.formContainer form {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.formContainer .itemContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  width: calc(50% - 30px);
  margin-right: 15px;
}

.formContainer label {
  font-size: 1.3rem;
  color: cornflowerblue;
}

.formContainer input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  color: lightpink;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid lightpink;
  border-radius: 0.15em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.formContainer input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: lightpink;
  padding: 7px;
}

.formContainer input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.favBtn {
  display: block;
  width: 100%;
  margin: 30px auto;
  background: white;
}

.formContainer .cartoonListContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formContainer .cartoonListContainer li {
  margin: 10px 0;
}

.formContainer .cartoonListContainer h4 {
  color: cornflowerblue;
  margin-bottom: 10px;
}

.formContainer .cartoonListContainer p {
  color: dimgray;
  font-size: 1.1rem;
}

@media (max-width: 850px) {
  /* .formContainer {
    padding: 30px;
  } */
  .formContainer label {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .formContainer label,
  .formContainer .cartoonListContainer p {
    font-size: 0.9rem;
  }
  .formContainer .itemContainer {
    margin-right: 0;
  }
}

@media (max-width: 650px) {
  .formContainer {
    padding: 30px;
  }
  .formContainer form {
    flex-direction: column;
  }
  .formContainer .itemContainer {
    width: 100%;
  }
}
