header {
  height: 100vh;
  position: relative;
}
.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.moreInfoBtn {
  position: absolute;
  top: 30px;
  left: 300px;
  visibility: hidden;
}

.moreInfo {
  background: url(../../../public/assets/xClose.png);
  width: 100px;
  height: 100px;
  background-size: 35px;
  background-repeat: no-repeat;
  margin: 0;
  transform: rotate(45deg);
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 270px;
}

.favCartoons {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fcf473;
  transition: background-color 0.3s ease-out;
}

.editCartoon {
  position: absolute;
  top: 70px;
  right: 0;
  background-color: #fcf473;
}

.favCartoons a,
.editCartoon a {
  color: cornflowerblue;
}

@media (max-width: 550px) {
  .favCartoons,
  .editCartoon {
    width: 100%;
    position: initial;
  }
  .favCartoons {
    margin: 20px 0 20px 0;
  }
}
