.newCartoon {
  background-color: #12c998;
  height: 100vh;
  overflow: auto;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.formContainer {
  margin: 50px auto;
  padding: 60px 80px;
  background-color: #16ffbd;
}

.newCartoonForm {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.newCartoonBtn {
  flex: 100%;
  background: white;
}

.inputName,
.inputDescription {
  font-family: inherit;
  flex: 1;
  border: none;
  border-radius: 15px;
  background-color: lightpink;
  margin-top: 30px;
  padding: 25px;
  outline: none;
}

@media (max-width: 950px) {
  .newCartoonForm {
    flex-direction: column;
  }
  .inputName,
  .inputDescription,
  .newCartoonBtn {
    width: 100%;
  }

  .inputDescription {
    margin-top: 0;
  }
}

@media (max-width: 620px) {
  .formContainer {
    padding: 20px 30px;
  }
}

@media (max-width: 550px) {
  .formContainer h3 {
    text-align: center;
  }
}

@media (max-width: 485px) {
  .newCartoonListContainer {
    width: 100%;
    margin: 0 auto;
  }
}
